<!DOCTYPE html>
<html lang="ja">
<head>
    <meta charset="UTF-8">
    <title>kabu_django3</title>
    <link rel="stylesheet" href="../static/css/sanitize.css">
{#    <link rel="stylesheet" href="../static/css/index.css">#}
</head>
<body>
<header>
    <a href="/" class="button">ホーム</a>
    <a href="/admin" class="button">管理画面</a>
    <a href="/company" class="button">個別企業</a>
    <a href="/descripter" class="button">descripter</a>
</header>
{% block content %}
{% endblock %}
</body>
</html>

{% block script %}
{% endblock %}